@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
}

.container {
	max-width: 1200px;
	margin: 1.875rem auto;
	overflow: auto;
	border: 1px solid steelblue;
	padding: 1.875rem;
	border-radius: 0.3125rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.25rem;
}

.btn {
	background: #000;
	color: #fff;
	border: none;
	padding: 0.625rem 1.25rem;
	margin: 1.25rem;
	border-radius: 0.3rem;
	cursor: pointer;
	text-decoration: none;
	font-size: 0.9375rem;
	font-family: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn:disabled {
	cursor: not-allowed;
}

.btn:focus {
	outline: none;
}

.btn:active {
	transform: scale(0.98);
}

.btn-block {
	display: flex;
	width: 100%;
	margin: auto;
}

.ticket {
	background: #f4f4f4;
	margin: 0.3125rem;
	padding: 0.625rem 1.25rem;
	cursor: pointer;
}
.ticket .priority {
	display: block;
}
.ticket .priority,
.ticket span.status,
.ticket p {
	font-size: 0.9rem;
}

p.description {
	margin-top: 0.2rem;
}

.ticket h3 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.add-form {
	margin-bottom: 2.5rem;
}

.form-control {
	margin: 1.25rem 0;
}

.form-control label {
	display: block;
}

.form-control input,
.form-control textarea {
	width: 100%;
	height: 2.5rem;
	margin: 0.3125rem 0;
	padding: 0.1875rem 0.4375rem;
	font-size: 1.0625rem;
	font-family: inherit;
}

.mt-3 {
	margin-top: 1.5rem;
}

.loading-wrapper {
	display: flex;
	justify-content: center;
}
